* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-top: 30px;
    text-align: center;
    font-size: 1.25rem;
}

.code {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    background: #333;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

.code a {
    color: #33ddff;
}

.code ul li {
    margin-left: 30px;
}

h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

h3 p {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: 40px;
    width: auto;
}

code {
    font-family: monospace;
}

pre {
    overflow-x: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

#links {
    display: grid;
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
    background-color: #eee;
    border-radius: 20px;
}

#links a {
    text-align: center;
    transition: 0.1s;
    background-color: #ddd;
    border-radius: 20px;
    padding: 2rem;
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

#links a:hover {
    background-color: #ccc;
    font-weight: bold;
}