* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-top: 30px;
    text-align: center;
    font-size: 1.25rem;
}

.code {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    background: #333;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
}

h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

h3 p {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    height: 40px;
    width: auto;
}

code {
    font-family: monospace;
}

pre {
    overflow-x: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}